/* GENERAL */
* {
    box-sizing: border-box;
}
body {
    margin: 0px;
    padding: 0px;
    background-image: url("../images/backG.jpg");
}

.frame {
    width: 50px 0px;
}

img {
    width: 100%;
    }

.spacer {
    height: 100vh;}
        
#hero-2 {
    background-image: url("../images/home-header.jpg");
    height: 100vh;
    color: white;
    background-size: cover;
    background-position: center center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;}
        
#hero-2 h2 {
    font-size: 8vw;
    margin-bottom: 5vh;
    margin-right: 5vw;}
        
#hero-2 h4 {
    font-size: 3vw;
    margin: 0px 5vw 0px 0px;}
        
#hero-2 a {
    font-size: 1.5vw;
    display: inline-block;
    background-color: #333333;
    color: rgb(23, 156, 83);
    text-decoration: none;
    padding: 24px;
    margin: 5vh 5vw 10vh 0px;}

* {
    box-sizing: border-box}
        
body {
    margin: 0px;font-family: sans-serif;}
        
#layout {
    max-width: 800px;margin: 48px auto;text-align: center;}
        
.basic-grid-gallery {
    display: grid;grid-template-columns: 1fr 1fr 1fr;gap: 24px;padding: 24px;border: 10px solid #333333;}
        
.basic-grid-gallery img {
    width: 100%;}

#navbar {
    background: linear-gradient(to bottom, #075c25,#121618);
    display: flex;
    align-items: center;
}
            
#navbar a {
    display: inline-block;
    text-decoration: none;
    color: white;
    padding: 24px;
}
            
#navbar a:hover {
    background: linear-gradient(to top, #7e690a,#74960e);
}
            
#navbar #logo {
    margin-right: auto;
    font-weight: bold;
    font-size: 36px;
    padding-top: 13px;
    padding-bottom: 12px;
}
            
            
.dropdown-container {
    position: relative;
}
            
.dropdown-menu {
    position: absolute;
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.25s,visibility 0.25s;
    z-index: 10;
}
            
            
.dropdown-container:last-child .dropdown-menu {
    right: 0px;
}
            
            
.dropdown-container:hover .dropdown-menu {
    opacity: 1;visibility: visible;
}
            
.dropdown-menu a {
    background-color: rgb(54, 37, 164);
    width: 100%;
    min-width: 200px;
}
            
            
#navbar .dropdown-menu a:hover {
    background: rgb(58, 42, 161);
}
        
      