/* GENERAL */
* {
    box-sizing: border-box;
}
body {
    margin: 0px;
    padding: 0px;
    background-image: url("../images/back1.jpg");
    color: white;
}

.frame {
    width: 50px 0px;
}

img {
    width: 100%;
}

.spacer {
    height: 100vh;
}
        
#hero-2 {
    background-image: url("../images/home-header.jpg");
    height: 100vh;
    color: white;
    background-size: cover;
    background-position: center center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
}
        
#hero-2 h2 {
    font-size: 8vw;
    margin-bottom: 5vh;
    margin-right: 5vw;
}
        
#hero-2 h4 {
    font-size: 3vw;
    margin: 0px 5vw 0px 0px;
}
        
#hero-2 a {
    font-size: 1.5vw;
    display: inline-block;
    background-color: rgb(180, 121, 12);
    color: rgb(0, 0, 0);
    text-decoration: none;
    padding: 24px;
    margin: 5vh 5vw 10vh 0px;
}

* {
    box-sizing: border-box
}
        
body {
    margin: 0px;
    font-family: sans-serif;
}
        
#layout {
    max-width: 800px;
    margin: 48px auto;
    text-align: center;
}
        
.basic-grid-gallery {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 24px;
    padding: 24px;
    border: 10px solid #333333;
}
        
.basic-grid-gallery img {
    width: 100%;
}

#navbar {
    background: linear-gradient(to bottom, #075c25,#121618);
    display: flex;
    align-items: center;
}
            
#navbar a {
    display: inline-block;
    text-decoration: none;
    color: white;
    padding: 24px;
}
            
#navbar a:hover {
    background: linear-gradient(to top, #7e690a,#74960e);
}
            
#navbar #logo {
    margin-right: auto;
    font-weight: bold;
    font-size: 36px;
    padding-top: 13px;
    padding-bottom: 12px;
}
            
            
.dropdown-container {
    position: relative;
}
            
.dropdown-menu {
    position: absolute;
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.25s,visibility 0.25s;
    z-index: 10;
}
            
            
.dropdown-container:last-child .dropdown-menu {
    right: 0px;
}
            
            
.dropdown-container:hover .dropdown-menu {
    opacity: 1;visibility: visible;
}
            
.dropdown-menu a {
    background-color: rgb(54, 37, 164);
    width: 100%;
    min-width: 200px;
}
            
            
#navbar .dropdown-menu a:hover {
    background: rgb(58, 42, 161);
}

#main {
    width: 90vw;
    max-width: 800px;
    margin: 48px auto;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

h3 {
    text-align: center;
    margin: 24px 0;
}
    
.card {
    margin: 24px;
    width: 350px;
    border: 1.5px solid rgb(8, 97, 8);
    border-radius: 5px;
    padding: 10px;
    box-shadow: -3px3px 10px #ddd;
    background: linear-gradient(-50deg, #023f07,#456541,#072b06);
}
    
.card img {
    width: 100%;
    height: 150px;
    object-fit: cover;
}
    
.card h2 {
    font-size: 36px;
    margin-top: 12px;
    
}
    
.card p {
    font-size: 18px;
}

.anchor-button {
    display: block;
    background-color: rgb(236, 121, 6);
    color: black;
    text-decoration: none;
    font-weight: bold;
    font-size: 20px;
    text-align: center;
    padding: 10px;
    border: 3px solid rgb(26, 10, 10);
    transition:background-color .5s,color .5s;
}
    
.anchor-button:hover {
    background-color: transparent;
    color: rgb(142, 95, 9);
}

.frame {
    height: 1000px;
}

.frame img {
    height: 100%;
    object-fit: cover;
}

#hero-3 h4 {
    font-size: 3vw;
    margin: 0px 5vw 0px 0px;
}
        
#hero-3 a {
    font-size: 1.5vw;
    display: inline-block;
    background-color: rgb(180, 121, 12);
    color: rgb(0, 0, 0);
    text-decoration: none;
    padding: 24px;
    margin: 5vh 5vw 10vh 0px;
}

#hero-3 {
    background-image: url("../images/newhero.jpg");
    height: 100vh;
    color: white;
    background-size: cover;
    background-position: center center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
}
            
#hero-3 h2 {
    font-size: 8vw;
    margin-bottom: 5vh;
    margin-right: 5vw;
}

.single-column {
    min-width: 600px;
    max-width: 1200px;
    margin: 0px auto;
}
    
#card-section {
    background-color: #58575a;
    color: white;
    padding: 48px;
}
    
    
.card-container {
    display: flex;
    justify-content: space-between;
}
    
    
.card {
    flex: 1;
    border: 3px solid #f89408;
    padding: 36px;
    text-align: center;
    margin: 36px;
}
    
.card h3 {
    font-size: 36px;
    margin: 0px;
}
    
.card p {
    font-size: 24px;
    margin: 24px 0px 0px;
}
  
#card a {
    font-size: 1.5vw;
    display: inline-block;
    background-color: rgb(180, 121, 12);
    color: rgb(0, 0, 0);
    text-decoration: none;
    padding: 24px;
    margin: 5vh 5vw 10vh 0px;
}
      