* {
    box-sizing: border-box;
}

body {
    margin: 0px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
    
#cards-container {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
}
    
.card {
    flex: 300px;
    max-width: 300px;
    border: 3px solid rgb(246, 6, 6);
    margin: 24px;
    padding: 24px;
    border-radius: 12px;
    text-align: center;
    color: rgb(245, 3, 3);
}

.card a {
    text-decoration: none;
    color: rgb(243, 28, 4);
    display: block;
    border: 3px solid rgb(245, 4, 4);
    padding: 12px;
    margin-top: 36px;
}
    
#card1:hover {
    background-color: rgb(79, 87, 87);
    box-shadow: 4px 4px 4px #00000033;
    transform: translateY(-4px);
}
    
#card1 {
    transition: background-color 0.5s,box-shadow 0.5s,transform 0.5s;
}

.card2 {
    flex: 300px;
    max-width: 300px;
    border: 3px solid rgb(11, 6, 1);
    margin: 24px;
    padding: 24px;
    border-radius: 12px;
    text-align: center;
    color: rgba(151, 83, 9, 0.864);
}

.card2 a {
    text-decoration: none;
    color: rgb(193, 105, 4);
    display: block;
    border: 3px solid rgb(7, 6, 6);
    padding: 12px;
    margin-top: 36px;
}
    
#card2:hover {
    background-color: rgb(13, 65, 17);
    box-shadow: 4px 4px 4px #00000033;
    transform: translateY(-4px);
}
    
#card3 {
    transition: background-color 0.5s,box-shadow 0.5s,transform 0.5s;
}

.card3 {
    flex: 300px;
    max-width: 300px;
    border: 3px solid rgb(2, 2, 248);
    margin: 24px;
    padding: 24px;
    border-radius: 12px;
    text-align: center;
    color: rgba(5, 69, 55, 0.864);
}

.card3 a {
    text-decoration: none;
    color: rgb(34, 84, 90);
    display: block;
    border: 3px solid rgb(7, 6, 6);
    padding: 12px;
    margin-top: 36px;
}
    
#card3:hover {
    background-color: rgb(13, 227, 217);
    box-shadow: 4px 4px 4px #00000033;
    transform: translateY(-4px);
}
    
#card4 {
    transition: background-color 0.5s,box-shadow 0.5s,transform 0.5s;
}



#card4 {
    transition: background-color 0.5s,box-shadow 0.5s,transform 0.5s;
}

.card4 {
    flex: 300px;
    max-width: 300px;
    border: 3px solid rgb(2, 231, 252);
    margin: 24px;
    padding: 24px;
    border-radius: 12px;
    text-align: center;
    color: rgba(76, 79, 79, 0.864);
}

.card4 a {
    text-decoration: none;
    color: rgb(83, 85, 85);
    display: block;
    border: 3px solid rgb(7, 6, 6);
    padding: 12px;
    margin-top: 36px;
}
    
#card4:hover {
    background-color: rgb(13, 121, 244);
    box-shadow: 4px 4px 4px #00000033;
    transform: translateY(-4px);
}
    
#card4 {
    transition: background-color 0.5s,box-shadow 0.5s,transform 0.5s;
}


    
.card5 {
    flex: 300px;
    max-width: 300px;
    border: 3px solid rgb(211, 98, 239);
    margin: 24px;padding: 24px;
    border-radius: 12px;
    text-align: center;
    color: rgb(240, 4, 213);
}
    
.card5 a {
    text-decoration: none;
    color: rgb(223, 7, 239);display: block;
    border: 3px solid rgb(132, 3, 231);
    padding: 12px;
    margin-top: 36px;
}

#card5 a {
    transition: background-color 0.5s,box-shadow 0.5s,transform 0.5s;
}
    
#card5:hover a {
    background-color: rgb(221, 11, 210);
    box-shadow: 4px 4px 4px #00000033;
    transform: translateY(-4px);
}

.card6 {
    flex: 300px;
    max-width: 300px;
    border: 3px solid rgb(2, 59, 5);
    margin: 24px;padding: 24px;
    border-radius: 12px;
    text-align: center;
    color: rgb(122, 240, 4);
}
    
.card6 a {
    text-decoration: none;
    color: rgb(123, 239, 7);display: block;
    border: 3px solid rgb(3, 85, 29);
    padding: 12px;
    margin-top: 36px;
}

#card6 a {
    transition: background-color 0.5s,box-shadow 0.5s,transform 0.5s;
}
    
#card6:hover a {
    background-color: rgb(3, 95, 56);
    box-shadow: 4px 4px 4px #00000033;
    transform: translateY(-4px);
}

.card7 {
    flex: 300px;
    max-width: 300px;
    border: 3px solid rgb(241, 53, 6);
    margin: 24px;padding: 24px;
    border-radius: 12px;
    text-align: center;
    color: rgb(253, 50, 4);
}
    
.card7 a {
    text-decoration: none;
    color: rgb(252, 31, 6);display: block;
    border: 3px solid rgb(4, 250, 82);
    padding: 12px;
    margin-top: 36px;
}

#card7 a {
    transition: background-color 0.5s,box-shadow 0.5s,transform 0.5s;
}
    
#card7:hover a {
    background-color: rgb(10, 250, 150);
    box-shadow: 4px 4px 4px #00000033;
    transform: translateY(-4px);
}

.card8 {
    flex: 300px;
    max-width: 300px;
    border: 3px solid rgb(225, 61, 20);
    margin: 24px;padding: 24px;
    border-radius: 12px;
    text-align: center;
    color: rgb(120, 48, 32);
}
    
.card8 a {
    text-decoration: none;
    color: rgb(6, 6, 6);display: block;
    border: 3px solid rgb(7, 7, 7);
    padding: 12px;
    margin-top: 36px;
}

#card8 a {
    transition: background-color 0.5s,box-shadow 0.5s,transform 0.5s;
}
    
#card8:hover a {
    background-color: rgb(250, 146, 10);
    box-shadow: 4px 4px 4px #00000033;
    transform: translateY(-4px);
}

.card9 {
    flex: 300px;
    max-width: 300px;
    border: 3px solid rgb(6, 6, 6);
    margin: 24px;padding: 24px;
    border-radius: 12px;
    text-align: center;
    color: rgb(234, 116, 7);
}

.card9 a {
    text-decoration: none;
    color: rgb(6, 6, 6);display: block;
    border: 3px solid rgb(7, 7, 7);
    padding: 12px;
    margin-top: 36px;
}


#card9:hover .card-content {
    opacity: 0;visibility: hidden;}

    
.card10 {
    flex: 300px;
    max-width: 300px;
    border: 3px solid rgb(6, 6, 6);
    margin: 24px;padding: 24px;
    border-radius: 12px;
    text-align: center;
    color: rgb(240, 1, 17);
}
    
.card10 a {
    text-decoration: none;
    color: rgb(6, 6, 6);display: block;
    border: 3px solid rgb(7, 7, 7);
    padding: 12px;
    margin-top: 36px;
}
    
    
#card10:hover .card-content {
    opacity: 0;visibility: hidden;}

.card11 {
    flex: 300px;
    max-width: 300px;
    border: 3px solid rgb(6, 6, 6);
    margin: 24px;padding: 24px;
    border-radius: 12px;
    text-align: center;
    color: rgb(7, 138, 22);
}
        
.card11 a {
    text-decoration: none;
    color: rgb(6, 6, 6);display: block;
    border: 3px solid rgb(7, 7, 7);
    padding: 12px;
    margin-top: 36px;
}
        
        
#card11:hover .card-content {
    opacity: 0;visibility: hidden;}