* {
    box-sizing: border-box}
    
    body {
    margin: 0px;font-family: Arial, Helvetica, sans-serif;}
    
    .single-column {
    min-width: 600px;max-width: 1200px;margin: 0px auto;}
    
    #main-section {
    background: radial-gradient(at top left, #e67053,#c6eb76);padding: 48px;}
    
    
    
    .side-by-side {
    display: flex;
    align-items: center;
    margin: 48px 0px;}
    
    
    .side-by-side .image-container {
    flex: 1;}
    
    .side-by-side .text-container {
    flex: 1;padding: 36px;}
    
    .side-by-side .image-container img {
    width: 100%;
    }
    
    .side-by-side .text-container h3 {
    font-size: 48px;}
    
    
    .side-by-side .text-container a {
    font-size: 28px;
    font-weight: bold;
    text-decoration: none;
    display: inline-block;
    background-color: #f61111;
    color: white;
    padding: 24px 48px;
    border-radius: 48px;}

    
        
        
        
        
        .comparisons-layout-1 {
        display: flex;justify-content: center;}
        
        .comparisons-layout-1 .comparison-column {
        background-color: #a0aaad;border: 3px solid #0d0b0d;padding: 24px;}
        
        .comparisons-layout-1 .comparison-column h4,
        .comparisons-layout-1 .comparison-column p {
        padding: 24px 48px;}

        .comparisons-layout-1 .comparison-column h4 {
            background-color: #ed2222;color: #bfefff;font-size: 24px;margin: 0px}
            
            .comparisons-layout-1 .comparison-column p {
            font-size: 18px;margin: 0px;border-top: 3px solid #020203;}
            
            .comparisons-layout-1 .comparison-column .label {
            display: block;font-weight: bold;padding-bottom: 12px;}
            
            
            
           
            
            
            
           