/*
    NOTE TO STUDENTS: 

    This is the file you should be writing your CSS in 
    for the Bulletin Board assignment.

    Good luck, and have fun!
*/
.post-it {
    background-color: greenyellow;
    display: inline-block;
    width: 25%;
    height: 200px;
    margin: 24px;
    padding: 24px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
.post-itblue {
    background-color:blueviolet;
    display: inline-block;
    width: 25%;
    height: 200px;
    margin: 24px;
    padding: 24px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.post-itred {
    background-color:rgb(66, 97, 133);
    display: inline-block;
    width: 25%;
    height: 200px;
    margin: 24px;
    padding: 24px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.post-ityellow {
    background-color:rgb(243, 213, 23);
    display: inline-block;
    width: 25%;
    height: 200px;
    margin: 24px;
    padding: 24px;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
.post-itgreen {
    background-color:rgb(7, 87, 20);
    display: inline-block;
    width: 25%;
    height: 200px;
    margin: 24px;
    padding: 24px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;

}
.post-itviolet {
    background-color:rgb(225, 128, 240);
    display: inline-block;
    width: 25%;
    height: 200px;
    margin: 24px;
    padding: 24px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}